body {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

p,
a {
  font-family: $open-sans;
  font-weight: 400;
  color: $nickel;
  line-height: 25px;
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

// @media only screen and ()